# Compiled source #
###################
*.o
*.so
*.f90
*.F90
*/*.inc
*.mod
*.exe
*.a


# Project configuration files
#############################

.cproject
.project
.pydevproject
.settings


# Individual files
##################

CAM_ABS_DATA
CAM_AEROPT_DATA
CAMtr_volume_mixing_ratio
CAMtr_volume_mixing_ratio.A1B
CAMtr_volume_mixing_ratio.A2
CAMtr_volume_mixing_ratio.RCP4.5
CAMtr_volume_mixing_ratio.RCP6
CCN_ACTIVATE.BIN
CLM_ALB_ICE_DFS_DATA
CLM_ALB_ICE_DRC_DATA
CLM_ASM_ICE_DFS_DATA
CLM_ASM_ICE_DRC_DATA
CLM_DRDSDT0_DATA
CLM_EXT_ICE_DFS_DATA
CLM_EXT_ICE_DRC_DATA
CLM_KAPPA_DATA
CLM_TAU_DATA
ETAMPNEW_DATA
ETAMPNEW_DATA.expanded_rain
GENPARM.TBL
LANDUSE.TBL
MPTABLE.TBL
README.namelist
RRTMG_LW_DATA
RRTMG_SW_DATA
RRTM_DATA
Registry/Registry
SOILPARM.TBL
URBPARM.TBL
VEGPARM.TBL
aerosol.formatted
aerosol_lat.formatted
aerosol_lon.formatted
aerosol_plev.formatted
bulkdens.asc_s_0_03_0_9
bulkradii.asc_s_0_03_0_9
capacity.asc
coeff_p.asc
coeff_q.asc
configure.wrf
constants.asc
frame/module_dm.F
frame/module_state_description.F
grib2map.tbl
gribmap.txt
inc/wrf_io_flags.h
inc/wrf_status_codes.h
kernels.asc_s_0_03_0_9
kernels_z.asc
masses.asc
ozone.formatted
ozone_lat.formatted
ozone_plev.formatted
run/namelist.input
termvels.asc
tools/fseeko64_test
tools/fseeko_test
tools/gen_comms.c
tools/registry
tr49t67

test
run/namelist.input.backup
configure.wrf.backup

tr49t85
tr67t85

